#title{
    border:1px solid black;
    border-radius: 40px;
    display: inline-block;
    background-color: red;
    padding:5px;
    text-align: center;

}
.inline{
    display: inline-block;
}